<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>the fridge</title>
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/stylesheets/jquery.horizontal.scroll.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>

<script id="introT" type="text/template" charset="utf-8">
	<div class="intro">
		<div class="instr">
			<p>Drag the <span class='mag'>word magnets</span> around the fridge to make a poem or leave a message to share.</p>
			<p>You can rotate a magnet a little by hovering over it and using the left and right arrow keys on your keyboard. You and the other people who happen to be connected at the same time will be represented by colored dots like the ones below. </p>
			<p>Be creative and have fun! In the spirit of real fridge magnets, all actvity is anonymous, of course.</p>
			
			<p>But first, pick your color: <span class='cp'></span></p>
			<button class='close'>ok, let&#39;s go!</button>
		</div>
	</div>
</script>

<script id="makeT" type="text/template" charset="utf-8">
	<div class="make">
	<button class='close'>x</button>
		<div class="instr">
			<h3>Make your own <span class='mag'>magnet</span> fridge!</h3>
			<p>Type your magnets down here &darr;</p>
			<ul class='tagList'>
			</ul>
			<p>you have <span class='wordCount'>no magnets</span> so far..<span class='comment'> get started.</span><a href='' class='url'></a></p><button class='makeIt'>make it!</button>
			
		</div>
		
	</div>
	
</script>

<body>	
	<div class='bg'></div>
	<div id="frig">
		<div class="title">rearrange creatively</div>
	</div>
	<div id="geobot">
		<img class="logo hid" src='/images/geobot.png'/>
		<div class='credits'>
			<span class='brought'>brought to you by geobot.</span><span class='enjoy'></span>
			<audio src='/audio/geobot.m4a'>
		</div>
	</div>

<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/jquery-ui.min.js"></script>
<script src="/javascripts/jquery.ui.touch.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/tag-it.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/underscore.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/backbone.js" type="text/javascript" charset="utf-8"></script>
<script src="nowjs/now.js"></script>
<script type="text/javascript" src="/browserify.js"></script> <!-- packaged scripts -->
</body>
</html>