@import url(http://fonts.googleapis.com/css?family=Crete+Round&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Comfortaa:400,700);
div, span {
	-moz-user-select: none;-webkit-user-select: none;
}

body {
  padding: 0px;
	margin: 0px;
  font: 14px "Crete Round", Helvetica, Arial, sans-serif;
	background-color: rgba(0,64,128,0.3);
}

a {
  color: #00B7FF;
}

#frig {
	position: fixed;
	top: 2%; left: 2%; bottom: 2%; right: 2%;
	border: 2px groove rgba(0,0,0,0.1);
	cursor: none;
}

#frig .title {
	font-family: "Comfortaa","Crete Round", "Helvetica";
	font-size: 16px;
	background: transparent;
	top: -3%; left: 3%;
	color: #333;
	text-shadow: 0 1px white;
	-moz-user-select: none;-webkit-user-select: none;
}

#frig .bg {
	position: fixed;
	top: 0px; bottom: 0px; left: 0px; right: 0px;
	background-image: url('/images/bg.png');
	opacity: 0.5;
	-moz-user-select: none;-webkit-user-select: none;
}

#frig .mags {
	position: fixed;
	top: 2%; left: 2%; right: 2%; bottom: 2%;
	border: 2px groove rgba(0,0,0,0.1);
	cursor: none;
}

#frig .clients {
	position: absolute;
	padding: 2%;
	top: 0px; left: 0px; right: 0px; bottom: 0px;
	cursor: none;
}



.mag {
	position: absolute;
	border: 1px solid black;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	padding: 2px;
	cursor: pointer;
	background-color: white;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	cursor: move;
	overflow: hidden;
	-moz-user-select: none;-webkit-user-select: none;
	font: 14px "Crete Round", Helvetica, Arial, sans-serif;
}

.mag img {
	max-width: 40px;
	max-height: 40px;
	-moz-user-select: none;-webkit-user-select: none;
}

.mag.held {
/*	background-color: #CDE9D1;*/
/*	box-shadow: 2px 2px 5px #bbb;*/
}

.client {
	background-color: 'red';
	border-radius: 14px;
	width: 14px; height: 14px;
	position: absolute;
	pointer-events: none;
}

#geobot .credits {
	position: fixed;
	left: 100%;
	top: 50%;
	font-size: 180%;
	font-family: "Comfortaa","Helvetica";
	white-space: nowrap;
	color: black;
	font-weight: bold;
	text-shadow: 0 1px white;
	-moz-user-select: none;-webkit-user-select: none;
}

.brought {
	display: inline;
}

.enjoy {
	display: none;
}

#geobot .logo {
	position: fixed;
	width: 20%;
	-moz-user-select: none;-webkit-user-select: none;
	cursor: pointer;
}

.logo.hid {
	top: 93%; right: 92%;
	-webkit-transform: rotate(30deg); -moz-transform: rotate(30deg);
}

.logo.vis {
	bottom: 0px;
	right: 70%;
	-webkit-transform: rotate(0deg); -moz-transform: rotate(0deg);
}

.logo.offScreen {
	bottom: 0px;
	right: 110%;
}

#geobot .logo.hid:hover {
	top: 88%; right: 90%;
}

#geobot .form {
	position: absolute;
	top: 30%; left: 20%;
	font-size: 160%;
	font-family: "Comfortaa","Helvetica";
	display: none;
}

.dialogCont {
	position: fixed;
	top: 0px; left: 0px; right: 0px; bottom: 0px;
	background-color: rgba(0,0,0,0.5);
}

.dialogMain {
	position: absolute;
	width: 50%;
	height: 50%;
	background-color: white;
	color: #333;
	box-shadow: 2px 2px 5px #333;
	padding: 15px;
	font-size: 14px;
	font-family: Helvetica, Arial;
	border-radius: 2px;
}

.dialogMain button {
	position: absolute;
	right: 4px; bottom: 4px;
	border: 2px solid green;
	color: green;
	background-color: white;
	cursor: pointer;
	display: none;
}

.dialogMain button:hover {
	color: white;
	background-color: green;
}

.colorPicker {
	background-color: none;
	float: right;
}

.dialogMain .mag {
	position: static;
	cursor: none;
}

.colorSquare {
	float: left;
	border: 2px solid transparent;
	padding: 2px;
	margin: 2px;
	width: 15px;
	height: 15px;
	opacity: 1;
	border-radius: 14px;
	cursor: pointer;
}

.colorSquare.sel, .colorSquare.sel:hover {
	border: 2px groove black;
}

.colorSquare:hover {
	border: 2px solid pink;
}

.make .wordList {
	width: 80%;
	min-height: 50px;
}

.make .makeIt {
	display: none;
}

.make li {
	list-style: none;
}

.make .tagit-choice {
	float: left;
	border: 1px solid black;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	padding: 2px;
	padding-right: 8px;
	margin: 2px;
	cursor: pointer;
	background-color: white;
	overflow: hidden;
	-moz-user-select: none;-webkit-user-select: none;
	font: 16px "Crete Round", Helvetica, Arial, sans-serif;
}

.make input.ui-widget-content {
	font-size: 16px;
	padding: 2px;
	width: 75px;
	border: 1px solid black;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	font: 16px "Crete Round", Helvetica, Arial, sans-serif;
	outline: none;
}

.make .tagit-label {
	padding-right: 4px;
}

.make .remove {
	background-color: #FFD8D3;
}

.make .tagit-close {
	color: red;
	padding-right: 2px;
	font-weight: bold;
}

.make ul.tagit {
	max-height: 200px;
	overflow-y: auto;
	padding: 4px;
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
	
}

.make .url {
	color: #0080FF;
	font-weight: bold;
	display: none;
	font-size: 14px;
}

.make .wordCount, .make .comment {
	color: red;
}

.make .wordCount.go, .make .comment.go {
	color: green;
	font-weight: bold;
}

.make .wordCount.warning, .make .comment.warning {
	color: orange;
}

.make button.close {
	border: none;
	background-color: white;
	color: red;
	position: absolute;
	top: 3px; right: 3px;
	display: inline;
}